#one {
  height: 400px;

  background-color: yellow;
}

#one-one {
  background-color: red;
}

#one-two {
  background-color: blue;
}

#one-three {
  background-color: green;
}

#one-four {
  background-color: gray;
}

#two {

}